*{
    margin: 0;
    padding: 0;
}

/* header and footer */
header, footer {
    min-width: 100%;
    height: 115px;
    background-color: blanchedalmond;
    color: azure;
}
main {
    min-height: 100vh;
}