*{
    margin: 0;
    padding: 0;
}
#MDP{
    font-size: 50px;
    left: 250px;
    top: 50px
}
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.content {
display: flex;
}

.content {
  position: relative;
}

.content h1 {
  color:rgb(12, 12, 12);
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px blanchedalmond;
}

.content h1:nth-child(2) {
  color:blanchedalmond;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
/* header and footer */
header{
    min-width: 100%;
    height: 115px;
    background-color: maroon;
    color:blanchedalmond;
}
footer {
    min-width: 100%;
    height: 115px;
    background-color: maroon;
    color:blanchedalmond;
}
main {
    min-height: 600vh;
}
/*header*/
header, footer {
    min-width: 100%;
    height: 150px;

}
.container{
    
    height: vh;
    margin: auto;
    display: flex;
    flex-direction:column;
    position: fixed;

}
#i0{
    color: blanchedalmond;
    background-color:blanchedalmond;
    margin-top:  120px;
}

#i1{
    color: blanchedalmond;
    background-color:#800000;

}#i2{
    color: blanchedalmond;
    background-color:blanchedalmond;
}
#i3{
    color: blanchedalmond;
    background-color: maroon;
}
#i4{   
    background-color:blanchedalmond;
}
.items {
width: 100px;
height: 80px;
border-radius: 10px;
margin-left: 15px;
text-align: center;
box-shadow: 2vw 0vw 4vw rgb(80, 1, 1);
font-size: large;
}
.items:hover{
    width:180px;
    height: 118px; 
}
h2{
    text-align: center;

}
#blanch{
    color: blanchedalmond;
}
#maroon{
    color: maroon;
}
#menu div #i1{
    position: relative;
    top: 0;
}
.sub1{
    display: none;
    position: absolute;
    left: 15px

}
#menu div #i1:hover .sub1{
    display: block;
    padding: 10px;
}
#menu div #i2{
    position: relative;
    top: 0;
}
.sub2{
    display: none;
    position: absolute;
    left: 15px

}
#menu div #i2:hover .sub2{
    display: block;
    padding: 10px;
    color: #800000;
}
#menu div #i4{
    position: relative;
    top: 0;
}
.sub4{
    display: none;
    position: absolute;
    left: 15px

}
#menu div #i4:hover .sub4{
    display: block;
    padding: 10px;
    color: #800000;
}
#pfp{
    display: flex;
    flex-direction:column;
    position: absolute;
    right: 80px;
    top: 60px;
    box-shadow: 2vw 1vw 4vw 0.4vw rgb(80, 1, 1);
    
}
#card{
    width: 150px;
    height: 200px;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
#pfp:hover #card {
    transform: rotateY(180deg);
}
#front, #back {
    position: absolute;
    width: 150px;
    height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
#back{
    transform: rotateY(180deg);
    background-image:url("../golden-clouds-duncan1890.jpg");
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#para{
    align-self: center;
    font-size: 20px;
}
.clouds{
    background-image: url("../golden-clouds-duncan1890.jpg");
    background-position: center;
    background-size: cover;
    height: 650px;
}
#Landing{
    text-align: center;
    font-size: xx-large;
    border: 2px solid rgb(7, 7, 7);
    width: 50%;
    margin: auto;
    box-shadow: 1vw 1vw 4vw rgb(80, 1, 1);
    border-radius: 0%;
    border-style:inherit;
    padding: 75px;
    
}
#aspire{
    font-size: xx-large;
}
#ikhlaas{
    font-size: 200%;
}

/* navigation element */
/*nav {
    margin-left: 550px;
}
ul {
    display: inline-flex;
}
/* list */
/*li {
    list-style: none;
    padding-right: 10px;
}/*
*/

#h1about{
    font-size: 80px;
    height: 120px;
    border: 2px solid maroon;
    background-color: maroon;
    color:blanchedalmond ;
}
#h1about{
    /* padding-left: 130px; */
    padding-top: 30px;
    text-align: center;
}
.ocean{
    background: url("../ocean2.jpg") no-repeat center center/cover;
    height: 1000px;
}
#h2aboutme{
    font-size: 50px;
    border: 5px solid black;
    box-shadow: 1vw 1vw 4vw rgb(101, 162, 218);
    margin: 200px 120px 40px 120px;
    border-radius: 0%;
    border-style:inherit;
    width: 250px;
    
}
#paboutme{
    padding-left: 50px;
    padding-right: 50px;
}
.about-me-con{
    display: flex;
    margin-left: 10%;
}
#testimonial{
    font-size: 50px;
    border: 5px solid black;
    box-shadow: 1vw 1vw 4vw rgb(101, 162, 218);
    margin: auto;
    margin-top: 100px;
    border-radius: 0%;
    border-style:inherit;
    width: 250px;
}
#ptest{
    text-align:center ;
}
.navplace{
    margin-top: 40px;
}

#h1resume{
    font-size: 80px;
    height: 120px;
    border: 2px solid maroon;
    background-color: maroon;
    color:blanchedalmond ;
}
#h1resume{
    /* padding-left: 130px; */
    padding-top: 30px;
    text-align: center
}
.royalblue{
    background-image: url("../Classic_RoyalBlue_Clouds_main.jpg");
    background-position: center;
    background-size: cover;
    height: 950px;
    width: auto;
}
.edu-work{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 50%;
    text-align: center;
    margin-top: 35px;
    color: blanchedalmond;
    font-size: 38px;
    margin-left: 50px;
   
}
#college{
    font-size: 35px;
    margin-top: 15px;
}
#paracollege{
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1px;
}
#edu{
    border: 5px solid black;
    box-shadow: 1vw 1vw 4vw rgb(101, 162, 218);
    margin: auto;
    margin-top: 100px;
    border-radius: 0%;
    border-style:inherit;
    width: 310px;
}
#work{
    border: 5px solid black;
    box-shadow: 1vw 1vw 4vw rgb(101, 162, 218);
    margin: auto;
    margin-top: 100px;
    border-radius: 0%;
    border-style:inherit;
    width: 460px;
}
#employ{
    font-size: 35px;
    margin-top: 15px;
}
#retail{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
}
#GIF{
    width: 200px;
    height: 180px;
    margin-top: 20px;
    border: solid maroon 5px;
}
#h1projects{
    font-size: 80px;
    height: 120px;
    border: 2px solid maroon;
    background-color: maroon;
    color:blanchedalmond ;
}
#h1projects{
    /* padding-left: 130px; */
    padding-top: 30px;
    text-align: center
}
.Nature{
    background-image: url("../leafgreen.jpg");
    background-position: center;
    background-size: cover;
    height: 950px;
    width: auto;
}
#wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    margin: auto;
    width: 80%;
    
    
}
.cardcontainer {
    width: 300px;
    height: 450px;
    margin: 20px auto;
    
}
/*
- Transition do provide ways to control the speed of our animation when changing CSS properties.
- Transform-style: This property will verify
if the children of an element are positioned
in the 3d space or 2d.
The value: preserve-3d state that the children
of an element should be placed in the 3d - space
*/
#card2{
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border: solid 4px blanchedalmond;
}
/* Will focus on horizontal flip card */
/*
It easy to rotate an html element by using
the rotate() function from transform
*/
.cardcontainer:hover #card2{
    transform: rotateY(180deg);
}
/* Positioning card front and card back*/
#front2, #back2 {
    position: absolute;
    width: 300px;
    height: 450px; 
    /* Have to cover most of the browsers
    Defines whether or not the back face of an element should be visible when facing the
    user
    */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
#front2{
    background-color:#800000;
    color: blanchedalmond;
    
}
#back2{
    background-color:maroon;
    color:blanchedalmond;
    transform: rotateY(180deg);
}
#calcsize{
    width: 300px;
    height: 450px;
}
.fa-brands{
    font-size: 150px;
    color: blanchedalmond;
}
.fa:visited{
    font-size: 50px;
}
#netlify{
    margin-top: 50px
}
#h1contact{
    font-size: 80px;
    height: 120px;
    border: 2px solid maroon;
    background-color: maroon;
    color:blanchedalmond ;
}
#h1contact{
    /* padding-left: 130px; */
    padding-top: 30px;
    text-align: center
}
.silverwater{
    background-image: url("../water-drops-on-silver.jpg");
    background-position: center;
    background-size: cover;
    height: 950px;
    width: auto;
}


